{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortner</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
  </head>
  <body>
    <div id="test"></div>
    <form class="container" onsubmit="handleButtonClick(); return false;">
      <input type="text" id="urlInput" placeholder="Enter URL" required/>
      <button>Submit</button>
    </form>
    <script>
      async function handleButtonClick() {
        let inputValue = document.getElementById('urlInput').value
        let token = '{{ csrf_token }}'
        let formData = new FormData()
        formData.append('url', inputValue)
        formData.append('csrfmiddlewaretoken', token)
        fetch('/shortener/', {
          method: 'POST',
          body: formData
        }).then(async resp => {
            let test = document.getElementById('test')
            respjson = await resp.json()
            console.log(respjson)
            test.innerHTML = respjson.error_message
        })
      }
    </script>
  </body>
</html>
