{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortner</title>
    <link rel="stylesheet" href="{% static '/shortener/main.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/shortener/fonts.css' %}" type="text/css" />
  </head>
  <body>
    <div class="content">
      <div class="up">
        <h3>Make your damn link much <span class="shorter">shorter</span></h3>
      </div>

      <div class="form">
        <form class="container" onsubmit="handleButtonClick(); return false;">
          <input type="text" id="urlInput" placeholder="Enter URL" required />
          <button>Shorten!</button>
        </form>
      </div>
      <div id="result" class="invisible"></div>
      
    </div>
    <div id="link-box" class="content invisible">
      <ul id="link">

      </ul>
    </div>

    <script>
      async function handleButtonClick() {
        let inputValue = document.getElementById('urlInput').value
        let token = '{{ csrf_token }}'
        let formData = new FormData()
        formData.append('url', inputValue)
        formData.append('csrfmiddlewaretoken', token)
        fetch('/shortener/', {
          method: 'POST',
          body: formData
        }).then(async (resp) => {
          respjson = await resp.json();
          console.log(respjson);
          checkIfErrorOrSuccess(respjson)
        })
      }

      function checkIfErrorOrSuccess(respjson) { 
          if (respjson.error_message)
            renderResult( respjson, 'error', 'success', false)
          else 
            renderResult( respjson, 'success', 'error', true)
          result.classList.remove('invisible');
          setTimeout(() => {
            result.classList.add('invisible');
          }, 1800)
      }

      function renderResult( json, add, remove, success) {
        const result = document.getElementById('result');
        result.classList.add(add);
        result.classList.remove(remove);
        const linkBox = document.getElementById('link-box');
        if (success) {
          const link = document.getElementById('link');
          result.innerHTML = json.success_message;
          link.innerHTML += `
            <li><a href="${json.short_url}" target=”_blank”>${json.short_url}</a></li>
          ` 
          linkBox.classList.remove('invisible');
          navigator.clipboard.writeText(json.short_url);
        } else {
          result.innerHTML = json.error_message;
        }
      }
    </script>
  </body>
</html>