textarea:focus, input:focus{
  outline: none;
}
body {
    background: #ffffff url(https://images.unsplash.com/photo-1707662513398-68a35d05f852?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans';
    flex-direction: column;
    gap: 20px;
  }
  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .container input {
    height: 30px;
    min-width: 250px;
    padding: 5px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: linear-gradient(160deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.25);
    border: solid 3px rgba(255, 255, 255, 0.09);
    border-radius: 40px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: rgba(255,255,255,0.3);
  }
  .container input::placeholder {
    font-weight: 500;
    color: rgba(255,255,255,0.3);
  }

  
  .container button {
    width: fit-content;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.25);
    border: solid 3px rgba(255, 255, 255, 0.09);
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.6;
    mix-blend-mode: difference;
    transition: all ease-in-out 255ms;
  }

  .container button:hover {
    opacity: 1;
    transition: all ease-in-out 255ms;
  }

  .up {
    display: flex;
    gap: 3px;
    text-align: center;
  }

  .up h3 {
    font-weight: 500;
    color: rgba(255,255,255,0.3);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shorter {
    text-transform: uppercase;
    letter-spacing: -2.5px;
  }

  #result {
    box-sizing: border-box;
    border: solid 3px rgba(255,255,255,0.2);
    border-radius: 40px;
    padding: 10px;
    opacity: 1;
    width: 90%;
    height: 48px;
    transition: all ease-in-out 255ms;
    margin-top: 20px;
    color: rgba(255,255,255,0.3);
    text-align: center;
  }

  .error {
    background: linear-gradient(160deg, rgba(244,0,0,0.2) 0%, rgba(244,0,0,0.05) 100%);

  }

  .success {
    background: linear-gradient(160deg, rgba(0,244,0,0.2) 0%, rgba(0,244,0,0.05) 100%);
  }

  .invisible {
    opacity: 0 !important;
    transition: all ease-in-out 255ms;
  }

  .content {
    box-sizing: border-box;
    background: linear-gradient(160deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%);
    width: fit-content;
    padding: 0px 40px 20px 40px;
    border: solid 3px rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
  }

  #link-box a {
    color: rgba(255,255,255,0.3);
    text-decoration: none;
    transition: all ease-in-out 255ms;
  }

  #link-box {
    padding: 20px 40px 20px 40px ;
  }

  #link {
    list-style-type: none;
    margin: 0;
    padding: 0px 20px 0px 20px;
    padding-bottom: 0 !important;
  }

  #link-box a:hover {
    color: rgba(255,255,255,0.5);
    transition: all ease-in-out 255ms;
  }

  @media (max-width: 500px) {
    .container input {
      width: fit-content;
      min-width: none;
    }

    .content {
      width: 100vw;
    }
}